input,
button {
  border-radius: 0px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  font-family: inherit;
  background-color: #000000;
  transition: border-color 0.15s;
  box-shadow: 1px 10px 0px rgba(0, 0, 0, 0.9);
  border: 1px solid white;

  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 5px;
  margin-bottom: 11px;
}

button {
  cursor: pointer;
}

button:hover {
  color: #ff00ff;
  border-color: #ff00ff;
}

button:active {
  color: #ffff00;
  border-color: #ffff00;
}
