html {
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    height: 100%;
}
:root {
    font-family: 'Orbitron', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #f6f6f6;
    width: 100%;
    background-color: rgb(0, 0, 0);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

@keyframes pan {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 256;
    }
}

.slider-square-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: white;
    border-style: solid;
    border-width: 1px;
    background: black; /* Tailwind's gray-700 */
    cursor: pointer;
}

.slider-square-thumb::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #4a5568; /* Tailwind's gray-700 */
    cursor: pointer;
}

.slider-square-thumb::-webkit-slider-thumb:hover {
    border: magenta;
    border-style: solid;
    border-width: 1px;
}

.slider-square-thumb::-webkit-slider-thumb:active {
    border: yellow;
    border-style: solid;
    border-width: 1px;
}
